@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  color: var(--text-color);
  --primary-color: #794CFF;
  --primary-color-hover: #6841dd;
  --primary-light-color: #ECE5FF;
  --success-color: #81C43B;
  --succes-light-color: #F2F9EB;
  --text-color: #35414B;
  --text-color-light: #4E5A65;
  --size-circle:3128px;
  --bg-elements-color: #FBFAFE;
  --bg-elements-color-bordor: #F0EBFA;
  font-weight: 400;
}
*::selection {
  background-color: var(--primary-color);
  color: var(--primary-light-color);
}
.btn {
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 1rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary-inverse {
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  transition: 0.3s;
}
.btn-primary-inverse:hover {
  background-color: var(--primary-color);
  color: var(--primary-light-color);
}
.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
}
.btn-primary:hover {
  background-color: var(--primary-color-hover);
}
header {
  position: relative;
  display: flex;
  padding: 0 25px;
}
header::before {
  content: '';
  position: absolute;
  width: var(--size-circle);
  height: var(--size-circle);
  background-color: var(--bg-elements-color);
  border: 1px solid var(--bg-elements-color-bordor);
  border-radius: 50%;
  top: calc(var(--size-circle) * -0.6);
  left: calc(var(--size-circle) * -1);
  right: calc(var(--size-circle) * -1);
  z-index: 0;
  margin: auto;
}
img {
  max-width: 100%;
}
.container {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: auto;
  z-index: 2;
}
.subscribe-form {
  font-weight: 500;
  font-size: 1rem;
}
.subscribe-form input {
  font-size: 1rem;
  padding: 0 10px;
  border:1px solid #E1E5EA;
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
}
.subscribe-form input:focus-visible {
  outline-color: transparent;
  outline-width: 0;
}
.subscribe-form input:focus{
  border:1px solid var(--primary-color);
}
input::placeholder {
  color: #97A5B5;
}
.subscribe-form .btn {
  border-radius: 0 4px 4px 0;
}
.nav-main-top-wraper {
  padding: 60px 0;
}
.fa-chevron-down,
.fa-chevron-right{
  font-size: 0.6rem;
}
a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
}
a:hover {
  color: var(--primary-color);
}
.nav-main-top li a .fa-chevron-down,
.fa-chevron-right {
  margin-left: 5px;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-main-top {
  margin-left: auto;
  margin-right: 80px;
}
nav ul a {
  padding: 20px 15px;
}
.w-700 {
  font-weight: 700;
}
.container-inner-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.title-top {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.top-offer {
  display: flex;
  align-items: center;
  background-color: var(--succes-light-color);
  min-height: 32px;
  border-radius: 100px;
  padding-right: 15px;
  margin: 40px 0 20px;
}
.top-offer a {
  display: flex;
  align-items: center;
}
.top-offer-save {
  display: flex;
  align-items: center;
  background-color: var(--success-color);
  justify-content: center;
  height: 32px;
  padding: 0 15px;
  border-radius: 20px;
  font-weight: 500;
  color: #fff;
  margin-right: 15px;
}
.top-offer a:hover {
  color: var(--success-color);
}
.top-offer-inform-txt {
  color: var(--text-color-light);
  line-height: 1.5;
  max-width: 505px;
  margin-bottom: 24px;
}
.subscribe-form {
  display: flex;
  min-height: 52px;
  margin-bottom: 20px;
}
.trusted-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.title-trusted-teams {
  font-size: 1rem;
  margin-bottom: 20px;
}
.container-inner-teams {
  padding: 80px 0 100px;
}
.p-container {
  padding: 80px 0;
}
.full-container {
  background-color: transparent;
  border: none;
  padding: 80px 0;
}
.light-bg {
  background-color: var(--bg-elements-color);
  border: 1px solid var(--bg-elements-color-bordor);
}
.dark-bg {
  background-color: #1D2830;
}
.inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-content > li:first-child {
  padding-right: 15px;
}
.inner-content > li:nth-child(2) {
  padding-left: 15px;
}
.tabs {
  max-width: 380px;
}
.tab-item {
  padding: 24px 36px;
  border-left: 8px solid transparent;
}
.tab-item:not(.active) {
  border-bottom: 1px solid var(--bg-elements-color-bordor);
}
.tab-item.active {
  background-color: #F6F3FC;
  border-left: 8px solid var(--primary-color); 
  border-radius: 0 8px 8px 0;
}
.tabs li:last-child {
  border: none;
}
h4 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 600;
}
p {
  line-height: 1.6;
  color: var(--text-color-light);
}
.inner-grid-container {
  display: grid;
  grid-template: repeat(3, max-content) / repeat(3, 1fr);
}
.inner-grid-container h3 {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 60px;
  grid-auto-rows: auto;
}
.grid-item img {
  margin-bottom: 24px;
}
.grid-item {
  margin-bottom: 80px;
  padding: 0 15px;
}
.inner-grid-container .grid-item:nth-child(5),
.inner-grid-container .grid-item:nth-child(6),
.inner-grid-container .grid-item:nth-child(7) {
  margin-bottom: 0;
}
footer .inner-content {
  align-items: flex-start;
}
footer p,
.footer-block,
.footer-block a{
  color: #fff;
}
.footer-block a:hover {
  color: var(--primary-color)
}
.footer-block li:first-child {
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-block li:not(:last-child) {
  margin-bottom: 24px;
}
footer .footer-block .google-play-btn {
  margin-bottom: 16px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-light);
}
.container-all-rights {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-all-rights p {
  font-size: .9rem;
}
.social-media {
  display: flex;
}
.social-media li:not(:last-child) {
  margin-right: 24px;
}